<div class="container-fluid container-fluid-custom">
    <h1>Prasu Gupta</h1>
    <h5 style="color:white;" class="mt-4 mb-4">What Can I Do ?</h5>
    

            <ul>
                <li>
                    <h4>
                    Build and maintain websites:</h4> 
                    <p>My main responsibility is to use various tools, frameworks, and languages to determine how best to develop intuitive, user-friendly prototypes and turn them into websites. This requires an understanding of cross-platform functionality and compatibility.</p>
                </li>
                <li>
                    <h4>   Write high-quality code: </h4>
                    <p>    To produce sustainable web applications, developers must write clean and easily maintainable code.
                    </p>
                </li>
                <li>
                    <h4>Perform quality assurance (QA) testing:</h4>
                    <p>    Create and oversee testing schedules to optimize user interface and experience, ensuring optimal display on various browsers and devices.
                    </p>
                </li>
            </ul>
       
        <div style="margin-top: 6rem;">
            I spend a lot of time while exploring  how to make websites and making reading blogs. I enjoy going on vacation, reading, and doing extensive study for new site designs.
            Throughout the development process, I focused on using the latest technologies and best practices to ensure the application's security, performance, and scalability. I implemented user authentication and authorization features to protect users' notes and ensure data privacy.
        </div>
    </div>
    